<div class="p-grid">
    <div class="p-shadow-10 p-col-12">
        <div class="p-grid ">
          
                <div class="p-col-6">
                    <label for="inputtext">Marca</label><br>
                    <input type="text" id="inputtext" pInputText required>



                </div>
                <div class="p-col-6">
                    <label for="inputtext">Año</label><br>
                    <input type="text" id="inputtext" pInputText required>
                </div>




                <div class="p-col-6">
                    <label for="inputtext">Modelo</label><br>
                    <input type="text" id="inputtext" pInputText required>

                </div>

                <div class="p-col-6">
                    <label for="inputtext">Version</label><br>
                    <input type="text" id="inputtext" pInputText>

        
            </div>
        </div>
    </div>
</div>