<div class="p-text-right">
    <button pButton type="submit" label="Hola" (click)="llamame()"></button>
</div>

<div *ngIf="mellamo">
    SI
    <!-- {{ datosPersonaOtroComponente.apellido}} -->
</div>
<div *ngIf="!mellamo">
    <!--  -->
</div>

<div class="p-text-right">
    <button pButton pRipple class="p-button-rounded p-button-success" type="button" (click)="mostrarDatosPVC()"
        icon="pi pi-eye" label="Ver Datos"></button>
</div>

<div *ngIf="mellamo">
    <p-dialog header="DATOS INGRESADOS" [(visible)]="displayDatos" [style]="{width: '50vw'}" [baseZIndex]="10000"
        class="header-modal">
        <hr>
        <h3 class="p-text-center">Cliente</h3>
        <hr>
        <h4>DNI:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.dni}} </p>

        <h4>Apellido:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.apellido}} </p>

        <h4>Nombre:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.nombre}} </p>

        <h4>Email:</h4>
        <p class="colorDatos">{{ datosPersonaOtroComponente.email}}</p>

        <h4>Celular:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.celular }}</p>

        <h4>Telefono:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.telefono }}</p>

        <h4>Provincia:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.provincia.nombre }}</p>


        <h4>Municipio:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.municipio.nombre }} </p>


        <h4>Fecha de Nacimiento:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.fechaNacimiento | date:'dd/MM/yyyy' }}</p>

        <h4>Usuario:</h4>
        <p class="colorDatos"> {{ datosPersonaOtroComponente.usuarios }} </p>

        <hr>
        <h3 class="p-text-center">Vehiculo</h3>
        <hr>

        <h4>Año:</h4>
        <p class="colorDatos"> {{ datosVehiculoOtroComponente.anio}} </p>

        <h4>Marca:</h4>
        <p class="colorDatos"> {{ datosVehiculoOtroComponente.marca.desc}} </p>

        <h4>Modelo:</h4>
        <p class="colorDatos"> {{ datosVehiculoOtroComponente.modelo}} </p>

        <h4>Version:</h4>
        <p class="colorDatos"> {{ datosVehiculoOtroComponente.version}} </p>
        <hr>
        <h3 class="p-text-center">Cobertura</h3>
        <hr>

        <div class="tabla-tamanio">
            <p-table>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:200px">Titulo </th>
                        <th style="width:200px">Costo </th>
                        <th style="width:200px">Texto </th>
                        <th style="width:200px">Franquicia </th>
                        <th style="width:200px">Descripcion </th>
                        <th style="width:200px">Granizo </th>
                    </tr>
                    <tr>
                        <td>{{ this.coberturaSelect.titulo }}</td>
                        <td>{{ this.coberturaSelect.costo | currency:'$'}}</td>
                        <td>{{ this.coberturaSelect.texto }}</td>
                        <td>{{ this.coberturaSelect.franquicia  | currency:'$'}}</td>
                        <td>{{ this.coberturaSelect.descripcion }}</td>
                        <td>{{ this.coberturaSelect.granizo | pipeGranizo}}</td>
                    </tr>
                </ng-template>

            </p-table>
        </div>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-save" (click)="guardarDatos()" label="Guardar" styleClass="p-button-text">
            </p-button>
            <p-button icon="pi pi-arrow-left" (click)="displayDatos=false" label="Cancelar"></p-button>
        </ng-template>
    </p-dialog>
</div>


<!-- <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
<p-dialog header="Éxito!" [(visible)]="displayModalGuardado" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <h2 class="p-text-center"><strong>¡SE GUARDARON LOS DATOS CORRECTAMENTE!</strong></h2>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="refresh()" label="Ok" class="p-button-text"></p-button>
        </ng-template>
</p-dialog>


<div *ngIf="!mellamo">
    <!--  -->
</div>