<h2>Los datos que se registraron fueron los siguientes:</h2>

<div class="p-text-right">
    <button pButton type="submit" label="Hola" (click)="llamame()"></button>
</div>


<div *ngIf="mellamo">
    SI
    <!-- {{ datosPersonaOtroComponente.apellido}} -->
</div>
<div *ngIf="!mellamo">
    <!--  -->
</div>


<p-button (click)="mostrarDatosPVC()" icon="pi pi-eye" label="Ver Datos"></p-button>

<div *ngIf="mellamo">
<p-dialog header="Datos ingresados" [(visible)]="displayDatos" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <h6>Dni:</h6>
    <p class="colorDatos"> {{ datosPersonaOtroComponente.dni}} </p>

    <h6>Apellido:</h6>
    <p class="colorDatos">    {{ datosPersonaOtroComponente.apellido}} </p>

    <p>Nombre:</p>
    <p class="colorDatos"> {{ datosPersonaOtroComponente.nombre}} </p>

    <p>Email:</p>
    <p class="colorDatos">{{ datosPersonaOtroComponente.email}}</p>

    <h6>Celular:</h6>
    <p class="colorDatos">  {{ datosPersonaOtroComponente.celular }}</p> 

    <p>Telefono:</p>
    <p class="colorDatos">  {{ datosPersonaOtroComponente.telefono }}</p>
   
    <p>Provincia:</p>
    <p class="colorDatos">  {{ datosPersonaOtroComponente.provincia.nombre }}</p>
  
    
    <p>Municipio:</p>
    <p class="colorDatos">  {{ datosPersonaOtroComponente.municipio.nombre }} </p>
  

    <p>Fecha de Nacimiento:</p>
    <p class="colorDatos">  {{ datosPersonaOtroComponente.fechaNacimiento | date:'medium' }}</p>

    <p>Usuario:</p>
    <p class="colorDatos"> {{ datosPersonaOtroComponente.usuarios }} </p>


 



    <ng-template pTemplate="footer">
 
        <p-button icon="pi pi-save" (click)="displayDatos=false" label="Guardar" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-arrow-left" (click)="displayDatos=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>
</div>
<div *ngIf="!mellamo">
    <!--  -->
</div>