<form action="">

    <div class="p-grid">
       
        <div class="p-col-10 p-offset-1">
            <h2>Datos personales</h2>
            <hr>
            <br>
            <app-datos-persona [provincias]='this.provincias' [municipios]="this.municipios"></app-datos-persona>
        </div>

        <div class="p-col-10 p-offset-1">
            <h2>Datos del vehículo</h2>
            <hr>
            <br>
            <app-datos-vehiculo></app-datos-vehiculo>
        </div>

        <div class="p-col-10 p-offset-1">
            <h2>Cobertura disponibles</h2>
            <hr>
            <br>
            <app-datos-cobertura></app-datos-cobertura>
        </div>

        <button pButton type="submit" label="Confirmar"></button>
    </div>


</form>