<form action="">
<div class="p-field p-col-12 p-md-12">
    <h2>Datos personales</h2>
    <hr>
</div>

<div style="margin-left: 10em;">
    <div class="p-field p-col-12 p-md-9">
        <div class="p-shadow-10">

            <div class="margin-derecha">
                <div class="p-fluid p-grid">
                    <!-- DNI -->
                    <div class="p-field p-col-12 p-md-3 p-mt-4">
                        <span class="p-float-label">
                            <input minlength="7" maxlength="8" type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Ingrese su DNI</label>
                        </span>
                    </div>
                </div>

                <!-- Apellido -->
                <div class="p-fluid p-grid">
                    <div class="p-field p-col-12 p-md-6 p-mt-2">
                        <span class="p-float-label">
                            <input minlength="2" maxlength="15" type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Ingrese su apellido</label>
                        </span>
                    </div>

                    <!-- Nombre -->
                    <div class="p-field p-col-12 p-md-5 p-mt-2">
                        <span class="p-float-label">
                            <input minlength="2" maxlength="15" type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Ingrese su nombre</label>
                        </span>
                    </div>
                </div>



                <div class="p-fluid p-grid ">
                    <!-- Email -->
                    <div class="p-field p-col-12 p-md-4 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Ingrese su mail</label>
                        </span>
                    </div>

                    <!-- Celular -->

                    <div class="p-field p-col-12 p-md-4 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Ingrese su celular</label>
                        </span>
                    </div>


                    <!-- Telefono -->
                    <div class="p-field p-col-12 p-md-3 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Ingrese su telefono</label>
                        </span>
                    </div>
                </div>


                <div class="p-fluid p-grid ">
                    <!-- Ubicacion -->
                    <div class="p-field p-col-12 p-md-3 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Ubicacion</label>
                        </span>
                    </div>

                    <!-- Fecha de nacimiento -->

                    <div class="p-field p-col-12 p-md-3 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Fecha de Nacimiento</label>
                        </span>
                    </div>
                </div>

                <div class="p-fluid p-grid ">
                    <!-- Usuario -->
                    <div class="p-field p-col-12 p-md-3 p-mt-2">
                        <span class="p-float-label">
                            <input minlength="3" maxlength="30" type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Usuario</label>
                        </span>
                    </div>

                    <!-- Contraseña -->

                    <div class="p-field p-col-12 p-md-3 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Contraseña</label>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="p-field p-col-12 p-md-12">
    <h2>Datos del vehículo</h2>
    <hr>
</div>

<div style="margin-left: 10em;">
    <div class="p-field p-col-12 p-md-9">
        <div class="p-shadow-10">

            <div class="margin-derecha">

                <!-- Marca -->
                <div class="p-fluid p-grid">
                    <div class="p-field p-col-12 p-md-5 p-mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Marca</label>
                        </span>
                    </div>

                    <!-- Año -->
                    <div class="p-field p-col-12 p-md-5 p-mt-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Año</label>
                        </span>
                    </div>
                </div>



                <div class="p-fluid p-grid ">

                    <!-- Modelo -->
                    <div class="p-field p-col-12 p-md-5 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText required>
                            <label for="inputtext">Modelo</label>
                        </span>
                    </div>

                    <!-- Version -->
                    <div class="p-field p-col-12 p-md-5 p-mt-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Version</label>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="margin-left: 60em;">
<button pButton type="submit" label="Confirmar" ></button>
</div>
</form>
<br>