
html, body{
    height: 100%;
}

body{
    background-color: #fff;
}
h1, h2, h3, h4, h6, p,  label{
    font-family:arial;
}

.colorDatos{
    color: gray;
    font-size: calc(1em + 1vw);
}
.campoRequerido{
    color:red;
}

label{
    font-weight: bold;
    color: #4d4d4d;
}

.p-shadow-10{
    border-radius: 10px;
}


/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}