/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}

body{
    background-color: #fff;
}
h2, label{
    font-family:arial;
}

.campoRequerido{
    color:red;
}

label{
    font-size: 14px;
    font-weight: bold;
    color: #4d4d4d;
}

.p-shadow-10{
    border-radius: 10px;
}