/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
}

body{
    background-color: #fff;
}
h2, label{
    font-family:arial;
}

.campoRequerido{
    color:red;
}

.margin-derecha{
    margin-left: 2em;
                              
}