<div class="card">
    <p-table [value]="coberturas" selectionMode="single" [(selection)]="selectedCobertura">
        <ng-template pTemplate="header">
            <tr>
                <th>Numero</th>
                <th>Costo</th>
                <th>Producto</th>
                <th>Texto</th>
                <th>Franquicia</th>
                <th>CodigoProducto</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Puntaje</th>
                <th>Granizo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cobertura>
            <tr [pSelectableRow]="cobertura">
                <!-- <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.quantity}}</td> -->
               <td>{{ cobertura.numero }}</td>
               <td>{{ cobertura.costo }}</td>
               <td>{{ cobertura.producto }}</td>
               <td>{{ cobertura.texto }}</td>
               <td>{{ cobertura.franquicia }}</td>
               <td>{{ cobertura.codigoProducto }}</td>
               <td>{{ cobertura.titulo }}</td>
               <td>{{ cobertura.descripcion }}</td>
               <td>{{ cobertura.puntaje }}</td>
               <td>{{ cobertura.granizo }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>