<div class="tabla-tamanios">
    <p-table [value]="coberturas" selectionMode="single" [(selection)]="selectedProduct2"
        (onRowSelect)="onRowSelectCobertura($event)" (onRowUnselect)="onRowUnselectCobertura($event)"
        class="p-datatable-responsive-demo">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th>Numero</th> -->
                <th class="tamanio-header">Titulo</th>
                <th class="tamanio-header">Costo</th>
                <th class="tamanio-header">Producto</th>
                <th class="tamanio-header">Texto</th>
                <th class="tamanio-header">Franquicia</th>
                <!-- <th>Cod. Producto</th> -->
                <th class="tamanio-header">Descripcion</th>
                <th class="tamanio-header">Puntaje</th>
                <th class="tamanio-header">Granizo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cobertura>
            <tr [pSelectableRow]="cobertura">
                <td>{{ cobertura.titulo }}</td>
                <!-- <td>{{ cobertura.numero }}</td> -->
                <td>{{ cobertura.costo | currency:'$'}}</td>
                <td>{{ cobertura.producto }}</td>
                <td>{{ cobertura.texto }}</td>
                <td>{{ cobertura.franquicia | currency:'$'}}</td>
                <!-- <td>{{ cobertura.codigoProducto }}</td> -->

                <td>{{ cobertura.descripcion }}</td>
                <td>{{ cobertura.puntaje}}</td>
                <td>{{ cobertura.granizo | pipeGranizo}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>